<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to t("application.name"), root_path, class: "brand" %>
		</div><!-- /.container -->
	</div><!-- /.navbar-inner -->
</div><!-- /.navbar .navbar-fixed-top -->
